       <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Charts</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Charts</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Charts Setting </li>
                </ol>
              </nav>
            </div>
             <form class="form-sample" action="/chart/setting" method="POST" >
                <div class="row">
                  <div class="form-group col-5">
                                          <label class="col-sm-3 col-form-label">From:</label>
                                          <div class="col">
                                            <input class="form-control" type="date" name="from" placeholder="dd/mm/yyyy" value={{report.FROM}}>
                                          </div>
                  </div>
                  <div class="form-group col-5">
                                          <label class="col-sm-3 col-form-label">To:</label>
                                          <div class="col">
                                            <input class="form-control" type="date" name="to" placeholder="dd/mm/yyyy" value={{report.TO}}>
                                          </div>
                  </div>
               
                <div class="form-group col-2">
                  <label class="col-sm-3 col-form-label" style="margin-bottom: 1.7rem;">  </label>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary mr-2" > Calculate </button>
                    </div>
                 </div>
                  </div>
            </form>
            <div class="row">
               <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-warning">
                  <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                      <div class="color-card">
                        <p class="mb-0 color-card-head">Sales</p>
                        <h2 class="text-white"> ${{report.REVENUE}}.<span class="h5">00</span>
                        </h2>
                      </div>
                      <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                    </div>
                    <h6 class="text-white"></h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
              <div class="card bg-danger">
                <div class="card-body px-3 py-4">
                  <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                      <p class="mb-0 color-card-head">Sale</p>
                      <h2 class="text-white"> {{report.TOTALPRODUCT}}<span class="h5"> products</span>
                      </h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                  </div>
                  <h6 class="text-white"></h6>
                </div>
              </div>
            </div>
          <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
            <div class="card bg-primary">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Total Orders</p>
                    <h2 class="text-white"> {{report.TOTALORDER}} <span class="h5"></span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                </div>
                <h6 class="text-white"></h6>
              </div>
            </div>
          </div>
        <div class="col-lg-12">
          <div class="card" style="min-height: 10rem;margin-bottom: 20px;">
            <div class="card-body">
                 <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Image</th>
                          <th>Product Name</th>
                          <th>Product Type</th>
                          <th>Importdate</th>
                          <th>Cost</th>
                          <th>Sales</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each report.BESTSELLERPRODUCTS}}
                        <tr>
                          <td class="py-1">
                            <img src="{{PRODUCT.IMAGE}}" alt="image">
                          </td> 
                          <td>{{PRODUCT.PRODUCT_NAME}}</td>
                          <td>{{PRODUCT.CATEGORY_CATEGORY.CATEGORY_NAME}} </td>
                          <td>{{format PRODUCT.IMPORTDATE}}</td>
                          <td>{{PRODUCTPRICE}} $</td>
                          <td>{{QUANTITY}} </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                </div>
            </div>
          </div>     
          </div>
         
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Sales Diagram (2013 - 2017)</h4>
                    <canvas id="lineChart" style="height: 178px; display: block; width: 357px;" width="714" height="356" class="chartjs-render-monitor"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Orders Diagram (2013 - 2017)</h4>
                    <canvas id="barChart" style="height: 230px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Users Activities</h4>
                    <canvas id="areaChart" style="height: 250px;"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product Type</h4>
                    <canvas id="doughnutChart" style="height: 250px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
